<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <extensions>
    <!--<add assembly="NLog.Web.AspNetCore"/>-->
  </extensions>

  <variable name="logDir" value="${basedir}/logs"/>
  <variable name="action" value="${aspnet-MVC-Action} "/>
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />


    <!--错误-->
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
        fileName="${var:logDir}/${shortdate}_err.txt"
        layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline} ${newline}" />

    <!--日志-->
    <target name="info_file" xsi:type="File"
        fileName="${var:logDir}/${date:format=yyyyMMdd}.log"
        layout="${message} ${newline}"
        encoding="UTF-8" />
  </targets>
  <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
      <logger name="*" minlevel="Error" writeTo="error_file" />
      <logger name="*" level="Info" writeTo="info_file" />
  </rules>
</nlog>