<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Conn_JD" connectionString="Server=192.168.99.100;Database=baospider;Uid=root;Pwd=root;charset=utf8;pooling=true;SslMode=none;" providerName="MySql.Data.MySqlClient" />
        <add name="Conn_NiuShop" connectionString="Server=192.168.99.100;Database=niushop_b2b2c;Uid=root;Pwd=root;charset=utf8;pooling=true;SslMode=none;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="jd_brand_logo_src" value="E:/wwwroot/Spider/code/Bao.Spider/Bao.Spider/bin/Debug/" />
        <add key="niu_brand_logo_src" value="D:/tools/phpStudy/PHPTutorial/WWW/niushop_b2b2c/upload/brand/" />
    </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>